.divtag{
    border: 2px solid blueviolet;
    margin: 5px;
    padding: 10px;
}

.newdivclass{
    border-radius: 10px;
    background-color: aqua;
}

.newparaclass{
    font-weight: bold;
    color: brown;
}

#div1{
    border: 2px solid rebeccapurple;
    padding: 15px;
}

#dateinput{
    border: 2px solid rebeccapurple;
    padding: 15px;
}

.cube{
    width: 80px;
    height: 80px;
    background-color:bisque;
    padding: 20px;
    
    display: inline-block;

}